# ========================
# Maven / Java
# ========================
target/
**/target/
# Wrapper do Maven deve ser versionado:
# (mantenha .mvn/ e os scripts mvnw/mvnw.cmd no repo)
# .mvn/  <-- NÃO ignore
!.mvn/wrapper/maven-wrapper.jar

.settings/
.classpath
.project
bin/

# Não versionar testes compilados
src/test/**/target/

# ========================
# IDEs
# ========================
*.iml
.idea/
*.ipr
*.iws
.vscode/

# ========================
# SO / Arquivos temporários
# ========================
.DS_Store
Thumbs.db
desktop.ini
ehthumbs.db
*.log
*.out
*.pid
*.gz
*.tmp
*.bak

# ========================
# Artefatos de build locais
# ========================
app.jar
*.jar.original
jacoco.exec
/*.exec
hs_err_pid*.log
replay_pid*.log
*.hprof

# ========================
# Arquivos sensíveis/locais
# ========================
.env
*.env
*.properties.local
*.yml.local
*.local
.env.local

# ========================
# Dados e volumes locais (não versionar)
# ========================
app-logs/
logs/
storage/
mysql_data/
kafka_data/
infra/firebird/data/

# ========================
# Mocks / WireMock / dados pesados
# ========================
infra/wiremock/__files/
infra/wiremock/mappings/
mocks/

# ========================
# Docker / Gerados locais
# ========================
docker-compose.generated.yml
compose.raw.yml
