# Maven: diretório de build
target/

# IntelliJ IDEA
.idea/
*.iml

# VS Code
.vscode/

# Logs
*.log

# Arquivos de sistema
.DS_Store
Thumbs.db
*.swp

# Configurações locais e arquivos sensíveis
.env
*.local

# Arquivos temporários ou gerados automaticamente
dep-tree.txt
validate
pre-clean
pre-site
