# Padroniza fim de linha
*.java text eol=lf
*.kt    text eol=lf
*.yml   text eol=lf
*.yaml  text eol=lf
*.md    text eol=lf
*.json  text eol=lf
*.xml   text eol=lf

# Arquivos que precisam CRLF (se tiver)
*.bat   text eol=crlf
*.cmd   text eol=crlf
*.ps1   text eol=crlf
