-- MySQL dump 10.13  Distrib 8.0.43, for Linux (x86_64)
--
-- Host: mainline.proxy.rlwy.net    Database: railway
-- ------------------------------------------------------
-- Server version	9.4.0

/*!40101 SET @OLD_CHARACTER_SET_CLIENT=@@CHARACTER_SET_CLIENT */;
/*!40101 SET @OLD_CHARACTER_SET_RESULTS=@@CHARACTER_SET_RESULTS */;
/*!40101 SET @OLD_COLLATION_CONNECTION=@@COLLATION_CONNECTION */;
/*!50503 SET NAMES utf8mb4 */;
/*!40103 SET @OLD_TIME_ZONE=@@TIME_ZONE */;
/*!40103 SET TIME_ZONE='+00:00' */;
/*!40014 SET @OLD_UNIQUE_CHECKS=@@UNIQUE_CHECKS, UNIQUE_CHECKS=0 */;
/*!40014 SET @OLD_FOREIGN_KEY_CHECKS=@@FOREIGN_KEY_CHECKS, FOREIGN_KEY_CHECKS=0 */;
/*!40101 SET @OLD_SQL_MODE=@@SQL_MODE, SQL_MODE='NO_AUTO_VALUE_ON_ZERO' */;
/*!40111 SET @OLD_SQL_NOTES=@@SQL_NOTES, SQL_NOTES=0 */;

--
-- Table structure for table `produto`
--

DROP TABLE IF EXISTS `produto`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `produto` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `nome` varchar(255) NOT NULL,
  `descricao` text,
  `preco_venda` decimal(19,2) NOT NULL,
  `imagem` varchar(512) DEFAULT NULL,
  `categoria` varchar(100) DEFAULT NULL,
  `codigo_barras` varchar(64) DEFAULT NULL,
  `preco_custo` decimal(19,2) NOT NULL,
  `estoque` int NOT NULL DEFAULT '0',
  `disponivel` tinyint(1) NOT NULL DEFAULT '1',
  `fabricante` varchar(128) DEFAULT NULL,
  `codigo_original` bigint DEFAULT NULL,
  `unidade` varchar(20) DEFAULT NULL,
  `data_cadastro` datetime NOT NULL,
  `data_importacao` datetime DEFAULT NULL,
  `id_produto_externo` bigint DEFAULT NULL,
  `created_at` datetime NOT NULL,
  `updated_at` datetime NOT NULL,
  `version` bigint NOT NULL DEFAULT '0',
  `despublicado_em` datetime DEFAULT NULL,
  `destaque_carrossel` tinyint(1) DEFAULT NULL,
  `hash_legado` varchar(128) NOT NULL,
  `legacy_id` varchar(64) DEFAULT NULL,
  `ordem_carrossel` int DEFAULT '0',
  `publicado_em` datetime DEFAULT NULL,
  `status` varchar(32) NOT NULL DEFAULT 'IMPORTADO',
  `status_sync` varchar(32) DEFAULT NULL,
  `validador` varchar(256) DEFAULT NULL,
  `preco_promocional` decimal(10,2) DEFAULT NULL,
  `promo_webp` tinyint(1) NOT NULL DEFAULT '0',
  `imagem_webp` varchar(255) DEFAULT NULL,
  `desconto_percentual` int DEFAULT NULL,
  `metodo_leitura_codigo_barras` varchar(32) DEFAULT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `ux_produto_hash_legado` (`hash_legado`),
  UNIQUE KEY `uk_produto_cod_barras` (`codigo_barras`),
  KEY `idx_produto_categoria_disponivel` (`categoria`,`disponivel`),
  KEY `idx_produto_estoque` (`estoque`),
  KEY `idx_produto_nome` (`nome`),
  KEY `idx_produto_fabricante` (`fabricante`),
  KEY `idx_produto_legacy_id` (`legacy_id`),
  KEY `idx_produto_codigo_barras` (`codigo_barras`),
  KEY `idx_produto_carrossel` (`disponivel`,`destaque_carrossel`,`ordem_carrossel`,`data_cadastro`),
  KEY `idx_produto_promo_webp` (`promo_webp`),
  KEY `ix_produto_vitrine` (`disponivel`,`estoque`,`preco_venda`,`data_cadastro`,`id`),
  KEY `ix_produto_carrossel` (`destaque_carrossel`,`publicado_em`,`despublicado_em`),
  KEY `idx_produto_metodo_leitura` (`metodo_leitura_codigo_barras`),
  CONSTRAINT `ck_estoque_nonneg` CHECK ((`estoque` >= 0)),
  CONSTRAINT `ck_preco_custo_nonneg` CHECK ((`preco_custo` >= 0)),
  CONSTRAINT `ck_preco_promocional_nonneg` CHECK (((`preco_promocional` is null) or (`preco_promocional` >= 0))),
  CONSTRAINT `ck_preco_venda_nonneg` CHECK ((`preco_venda` >= 0)),
  CONSTRAINT `ck_status_sync_valid` CHECK ((`status_sync` in (_utf8mb4'SINCRONIZADO',_utf8mb4'PENDENTE',_utf8mb4'ERRO'))),
  CONSTRAINT `ck_status_valid` CHECK ((`status` in (_utf8mb4'IMPORTADO',_utf8mb4'VALIDADO',_utf8mb4'PUBLICADO')))
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `produto`
--

LOCK TABLES `produto` WRITE;
/*!40000 ALTER TABLE `produto` DISABLE KEYS */;
/*!40000 ALTER TABLE `produto` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `produto_categoria`
--

DROP TABLE IF EXISTS `produto_categoria`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `produto_categoria` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `nome` varchar(100) NOT NULL,
  `created_at` datetime NOT NULL DEFAULT CURRENT_TIMESTAMP,
  `updated_at` datetime NOT NULL DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP,
  PRIMARY KEY (`id`),
  UNIQUE KEY `uk_produto_categoria_nome` (`nome`)
) ENGINE=InnoDB AUTO_INCREMENT=14 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `produto_categoria`
--

LOCK TABLES `produto_categoria` WRITE;
/*!40000 ALTER TABLE `produto_categoria` DISABLE KEYS */;
/*!40000 ALTER TABLE `produto_categoria` ENABLE KEYS */;
UNLOCK TABLES;
/*!40103 SET TIME_ZONE=@OLD_TIME_ZONE */;

/*!40101 SET SQL_MODE=@OLD_SQL_MODE */;
/*!40014 SET FOREIGN_KEY_CHECKS=@OLD_FOREIGN_KEY_CHECKS */;
/*!40014 SET UNIQUE_CHECKS=@OLD_UNIQUE_CHECKS */;
/*!40101 SET CHARACTER_SET_CLIENT=@OLD_CHARACTER_SET_CLIENT */;
/*!40101 SET CHARACTER_SET_RESULTS=@OLD_CHARACTER_SET_RESULTS */;
/*!40101 SET COLLATION_CONNECTION=@OLD_COLLATION_CONNECTION */;
/*!40111 SET SQL_NOTES=@OLD_SQL_NOTES */;

-- Dump completed on 2026-03-01 18:54:09
